.footer-bg-img{
    /* The image used */
    background-image: url("../../assets/img/bitmap_2.png");
    min-height: 200px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
    background-size: 100% 100%;
  }
  @font-face {
    font-family: Montserrat-SemiBold;
    src: url("../../assets/Montserrat/Montserrat-SemiBold.ttf");
  }
.footercontainer {
    font-family: 'Montserrat-SemiBold';
    margin-left: 200px;
    
}
.footercontainer p {
    color: #ffffff;
    width: 200px;
    height : 19px;
    font-size : 15px;
    font-weight: 600;
    
}
.footercontainer button {
  border: none;
  background-color: transparent;
  color: #cfb995;
}
  